# Go directly to the Project/Back-end folder.

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^$Project/back-end/Libraries/Core.php [L]
    RewriteRule (.*) Project/back-end/Libraries/Core.php?url=$1 [L]
</IfModule>